
.index_main {
    margin: 5%;
    
}

.index_main .cards_section {
    
    justify-content: space-between;
    align-items: center;
}

.index_main .cards_section .card {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    border-radius: 25px;    
    transition: .5s;
    cursor: pointer;
   
}

.index_main .cards_section .card:first-child {
    background-image: url('/img/the_batman.jpg');
    background-size: cover;
    background-repeat: no-repeat;

} 

.index_main .cards_section .card:nth-child(2) {
    background-image: url('/img/buzzLightyear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 

.index_main .cards_section .card:last-child {
    background-image: url('/img/morbius.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
} 




.index_main .cards_section .card:hover {
    transform: scale(1.1);
}

.index_main .cards_section .card .card_container {
    width: 95%;
    height: 225px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.index_main .cards_section .card .card_container span {
    font-size: 2.5rem;
    font-family: 'Roboto';
    text-transform: uppercase;
   
    color: white;
    font-weight: 600;
}


@media (min-width:480px) {

}

@media (min-width:768px) {
    
    .index_main .cards_section  {
        display: flex;
    }

    .index_main .cards_section .card {
        width: 30%;
        height: 350px;
    }
    
}

@media (min-width:1024px) {
    
}