.movies_main {
    margin: 20px 5%;
}


.movies_main .movies_h2 {
    margin-bottom: 20px;
    color:white;
    text-align: center;
    font-family: 'Roboto';
    font-size: 3rem;
    text-transform: uppercase;
}

.movies_main .movies_h2 .keyword {
    color: blueviolet;
}

.movies_main .movies_add {
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    
}

.movies_cards {
    border-bottom: solid 4px rgba(110,22,191,1);
    margin: 50px 0;
    position: relative
}

  .go_top {
    position: fixed;
    bottom :50px ;
    right: calc(50% - 40px);
    background-color:  rgba(110,22,191,1);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

 .go_top:hover {
    transform: translateY(-20px);
    background-color: rgb(253,29,240);;
}

 .go_top i {
    font-size: 40px;
    transform: rotate(180deg);
    color: white;
    
}

.movies_cards .card {
    position: relative;
    border-radius: 30px;
    transition: .5s;
    margin-bottom: 20px;
}

.movies_cards .card:hover {
    transform: scale(1.05);
}


.movies_cards .card a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    filter: opacity(50%);
    transition: .5s;

}

.movies_cards .card a img:hover {
    filter: opacity(100%);
}

.movies_cards .card span {
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: absolute;
    top: calc(50% - 1.25rem);
    left:0px;
    width: 100%;
    text-align: center;
    transition: 1s;
}


.movies_main .movies_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ;
   
   
}

.movies_main .movies_section .movies_list li {
    
    margin-bottom: 5px;
}

.movies_main .movies_section .movies_list li a {
    font-size: 18px;
    color: white;
    transition: 1s;
    display: inline-block;
    
}

.movies_main .movies_section .movies_list li a:hover {
    transform: scale(1.1);
    transform: translateX(20px);
   
}

.section_image {
    display: none;
    width: 100%;
    height: 90vh;
    background-image: url('/img/deadpool.png');
    background-size: cover;
    background-position: top  ;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    filter: grayscale(100%);
    
}

.movies_main .genres_h3 {
    font-size: 1.5rem;
    text-align: center;
    transition: .5s;
    margin-bottom: 50px;
    
}

.movies_main .genres_h3:hover {
    transform: scale(1.025);
}

.movies_main .genres_h3 a {
    color: white;
}

@media (min-width:480px) {

    .movies_main .movies_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
       
    }

    .go_top {
    
        right: 100px;
    }

}

@media (min-width:768px) {

    .movies_main .movies_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
       
    }
    .section_image {

        display: inline;
    }
    
}

@media (min-width:1024px) {
    .movies_main .movies_cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
       
    }
}


