<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs",{
  title: "MOVIES.NET | HOME"
}) %> 
<body class="index_body">
 <%- include("./partials/header.ejs") %> 
  <main class="index_main">

    <section class="cards_section">
      <article class="card">
        <a href="/genres">
          <a href="/genres">
            <div class="card_container">
              <span>Generos</span>
            </div>        

          </a>

        </a>
      </article>

      <article class="card">
        <a href="/movies">
          <div class="card_container">
            <span>Peliculas</span>
          </div>

        </a>
      </article>

      <article class="card">
        <a href="/movies/new">

          <div class="card_container">
            <span>Estrenos</span>
          </div>
        </a>
      </article>
    </section>
  </main>
   <%- include("./partials/footer.ejs") %>  
</body>
</html>