<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs",{
        title: "MOVIES.NET | MOVIES"
      }) %> 

<body>
    <%- include("./partials/header.ejs") %> 

    <main class="">
        <h2 class="text-center">LISTADO DE PELÍCULAS</h2>
        <a  href="/movies/add">Agregar Película</a></p>
    
        <section class="p-3 ">
    
            <ul class="">
                <% for( let i = 0; i < movies.length; i++ ) { %>
                <li class="text-blue-700">
                    <a class="" href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
                </li>
                <% } %>
        
            </ul>
        </section>

    </main>
</body>

</html>