<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs",{
        title: "MOVIES.NET | MOVIES"
      }) %> 

<body>
    <%- include("./partials/header.ejs") %> 

    <h1 class="text-center text-xl">LISTADO DE PELÍCULAS</h1>
    <a  href="/movies/add">Agregar Película</a></p>
    
    <ul class="p-10">
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>