<footer class="footer">

      <div class="footer_div">
        <a href="/"><span class="footer_logo_span">Movies.net</span></a>
      </div>
      <div class="footer_paginas">
        <a href="https://github.com/IagoSiccardi" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:iago.siccardi@gmail.com?subject=MOVIES.NET%2022%" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/iago-siccardi-329076235/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer_copyright">&copy; Movies.net 2022 </div>
      

    </nav>
  </footer>