<header class="p-4 bg-pink-400 ">
  
    
    <nav class="flex justify-between items-center">

      <ul class="flex gap-2 items-center">
        <li class="hover:scale-110 transition-transform"><a href="">Inicio</a></li>
        <li class="hover:scale-110 transition-transform"><a href="">Generos</a></li>
        <li class="hover:scale-110 transition-transform"><a href="">Peliculas</a></li>
    </ul>

    <div>
      <a href="" class=""><span class="font-semibold uppercase text-lg">Movies.net</span></a>
    </div>

    <div class="flex gap-4">
      <form action="" class="flex relative">
       <input type="text" placeholder="Buscar peliculas..." class="p-2 rounded-full">
       <button type="submit"><i class="fas fa-search absolute top-3 right-3"></i></button>
      </form>
  
      <ul class="flex gap-2 items-center">
        <li class="hover:scale-110 transition-transform"><a href="">Entrar</a></li>
        <li class="hover:scale-110 transition-transform"><a href="">Registro</a></li>
      </ul>

    </div>
     
    </nav>
  </header>