<header class="p-4 bg-pink-400 header ">
  
    
    <nav class="header_nav">
      
      <ul class="header_logo">
        <a href="/"><span class="header_logo_span">Movies.net</span></a>
      </ul>

      <ul class="header_paginas">
        <li class="header_LI"><a href="/">Inicio</a></li>
        <li class="header_LI"><a href="/genres">Generos</a></li>
        <li class="header_LI"><a href="/movies">Peliculas</a></li>
    </ul>


    <div class="flex gap-4  header_usuario">
      <form action="/results" class="header_search">
       <input type="text" name="keyword" placeholder="Buscar peliculas...">
       <button type="submit"><i class="fas fa-search absolute top-3 right-3"></i></button>
      </form>
  
      <ul class="flex gap-2 items-center ">
        <li class="hover:scale-110 transition-transform"><a href="">Entrar</a></li>
        <li class="hover:scale-110 transition-transform"><a href="">Registro</a></li>
      </ul>

      
    </div>
    
    <ul class="header_menu">
      <li>
        <i class="fas fa-bars"></i>
      </li>
    </ul>

    </nav>
  </header>